/* Gridstack */
.grid-stack-item-content {
  background: #FFF;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  /*border-radius: 8px;*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 1px 3px rgba(0, 0, 0, .16);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 1px 3px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .15);
}


/* Align Panel Text */
.panel-title {
  text-align: center;
  /*color: #FFF;*/
}

.panel-title > a {
  color: inherit;
}



