@import url(https://fonts.googleapis.com/css?family=Muli);
@media (max-width: 762px){
    .btn-responsive {
        font-size:80%;
        line-height: 1.4;
        padding: 3px 6px;
         -webkit-border-radius: 3px;        
         -moz-border-radius: 3px;
            border-radius: 3px;
    }
}

@media (min-width: 760px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.5;
  }
}

body {
  color: #66615b;
  font-size: 14px;
  font-family: 'Muli', Arial, sans-serif;
  background-color: #f4f3ef;
  margin-bottom: 60px;
  margin-top: 120px;
}

.btn-default {
    font-size: 12px;
    text-align: right;
     -webkit-border-radius: 3px;        
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.btn.btn-raised {
    box-shadow: 0 2px 8px rgba(0,0,0,.12),0 2px 8px rgba(0,0,0,.12);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.btn.btn-raised:hover,.btn:focus {
    box-shadow: 0 4px 8px rgba(0,0,0,.50),0 4px 8px rgba(0,0,0,.50);
    transition: box-shadow .128s cubic-bezier(.4,0,.2,1);
}

.btn:focus {
  outline: none;  
}

.card {
    text-align: center;
    background-color: #FFF;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    /*box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);*/
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-title {
    padding-top: 2px;
    padding-bottom: 5px;
  margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color:darkgrey;
    box-shadow: 0 1px 3px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.26);
}

/* chart layout for creating blocks*/
.chart-wrapper{
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.16);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.16);
}

.chart-wrapper .chart-title{
  text-transform: capitalize;
  border-bottom: 3px solid #d9d9d9;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px 10px; 
}

.chart-wrapper .chart-area{
  text-align: center;
  overflow: hidden;
  position: relative;
}

.chart-wrapper .chart-footer{
  padding: 0px 30px 5px 30px;
  line-height: 30px;
}

hr {
   border-color: #d2bc9d;    
}

.chart-wrapper .chart-footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.col-md-3{
    padding-left: 10px;
    padding-right: 0px; 
}

.navbar {
  min-height: 75px;
  border-bottom: 0px solid #d9d9d9;
  /*background-color: #f4f3ef;*/
  box-shadow: 0 3px 10px rgba(0,0,0,.13),0 3px 10px rgba(0,0,0,.16);
}

.navbar .navbar-brand{
  color: #777;
  color:#fff;
  position: absolute;
  left: 40px;
  margin:10px 15px;
  font-weight: 600;
  padding: 25px 15px;
  font-size: 25px;
}

.navbar .navbar-nav > li > a {
  color: #777;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.42857;
  margin: 15px 10px;
  padding: 15px 25px;
}

.navbar .navbar-nav > li > a:hover{
  color: #68B3C8;
}

.row {
  margin-right: 5px;
  margin-left: 5px;
}

text {
    cursor: default;
    fill: #FFF;
    pointer-events: none;
    font-size: 12px;
    font-weight: bold;
}
